/* app css stylesheet */
body {
	padding-top: 70px; /* We use a fixed-top navbar, so keep all content some pixels bellow */
}

/* Default customized top-navbar colors*/
.navbar-default {
	background-color: #3ba46a;
	border-color: #46ac74;
}

.navbar-default .navbar-brand {
	color: #3c4749;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #dddbde;
}
.navbar-default .navbar-text {
	color: #3c4749;
}
.navbar-default .navbar-nav > li > a {
	color: #3c4749;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #dddbde;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #dddbde;
	background-color: #46ac74;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #dddbde;
	background-color: #46ac74;
}
.navbar-default .navbar-toggle {
	border-color: #46ac74;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #46ac74;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #3c4749;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #3c4749;
}
.navbar-default .navbar-link {
	color: #3c4749;
}
.navbar-default .navbar-link:hover {
	color: #dddbde;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #3c4749;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #dddbde;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #dddbde;
		background-color: #46ac74;
	}
}

/* Background image*/
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}

/* Heroic template features */
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;
}

/* Footer */
footer {
	margin: 50px 0;
}
